{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %} {% translate 'Account Registration' %} {% endblock %}  

{% block content  %}

<section id="register" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Register</h4>
               
            </div>

            <div class="card-body">

              <p> {% blocktranslate %} Vous avez déjà un compte? S'il vous plaît <a href="{{ login_url }}"><strong>entrer</strong></a>{% endblocktranslate %}</p>

                <form action="{% url 'account_signup' %}" method="POST"  >
                    {% csrf_token  %}
                    <!-- Secure Data -->
                 {{ form|crispy}}
                
               
                <input type="hidden"  name="{{ redirect_field_name }}" value="{% url 'users:profile' %}" />
              
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}